@font-face { font-family:MonkeyIsland-1990; src:url(../fonts/MonkeyIsland-1990.ttf); font-size:10pt,12pt,14pt; }

*{
	margin:0;
	padding: 0;
}

html,body {
    width: 100%;
    height: 100%;
    cursor: url(../img/Cursor_20x32.gif), auto;
    font-family: MonkeyIsland-1990; 
    font-size: 12px;
}

@media screen and (max-width: 1024px) {

    html {
        width: 1024px;
    }
    header {
        width: 1024px;
    }
    body {
        width: 1024px;
    }
    
}

@media screen and (max-width: 600px) {
    
    nav {
        min-width: 400px;
    }
    
}

body{
	background: url(../img/zelda_wallpaper.png);
}
body a, html a {
    cursor: url(../img/pointer.png), auto;
}

header{
    
}

h1,h2,h2,h4{
/*	font-family: MonkeyIsland-1990; */
}

#abdecker{
	height: 50px;
	position: fixed;
	top: 0;
	background-color: #484848;
	width: 100%;
	z-index: 99;
}
#banner{
	height: 150px;
	width: 100%;
	background: url(../img/banner1_03.jpg), url(../img/unnamed.jpg);	
	background-repeat: no-repeat, repeat-x;
	background-position: 27% 50%;
	/*
	
	background-size: contain;*/
	o-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	position: fixed;
	top: 0px;
	z-index: 100;
}
.banner-hidden{
	top: 0px;
	height: 75px !important;
	background: url(../img/zusammengeklappt.jpg), url(../img/zusammengeklapptleer.jpg) !important;
	background-position: 28% 50% !important;
	background-repeat: no-repeat, repeat-x !important;

}

.breadcrumb {
    margin: 160px auto -155px auto;
    width: 61%;
    height: 25px;
    border: 1px solid rgb(145, 145, 145);
    display: flex;
    background-color: white;
    border-radius: 5px;
    padding-left: 30px;
    color: rgb(96, 96, 96);
}

.bc_items {
    align-self: center
}

nav {
    display: flex;
    margin: 0 auto;
    width: 61%;
    height: 100%;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    align-self: flex-end;
    padding: 0px;
    margin: 0px;
    box-shadow: 2px 2px 2px #dfdfdf;
    -moz-box-shadow: 2px 2px 2px #dfdfdf;
    -webkit-box-shadow: 2px 2px 2px #dfdfdf;
}

nav ul:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

nav ul,nav ul li{
    background-color: #FAFAFA;
}

nav ul li {
    list-style: none;
    float:left;
    border-right: 1px solid #dfdfdf;
}

nav ul li:hover > ul {
    visibility: visible;
}

nav ul li ul{
    display: inline;
    visibility: hidden;
    position: absolute;
    padding:0px;
}

nav ul li ul li{
    float: none;
    z-index: 10000    
}

nav ul li ul li a {
    color: #FAFAFA;
}

nav ul li ul li a:hover{
    color: #333;
    background-color: #FAFAFA !important;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #333;
    padding: 14px 34px 14px 34px;
 
    -webkit-transition: background 0.3s ease-out 0s;
    -moz-transition: background 0.3s ease-out 0s;
    -o-transition: background 0.3s ease-out 0s;
    transition: background 0.3s ease-out 0s;
}

nav ul li.cat1:hover a, nav ul li.cat1:hover > ul li a  {
    background-color: #E6DD00;
}

nav ul li.cat2:hover a, nav ul li.cat2:hover > ul li a  {
    background-color: #8CB302;
}

nav ul li.cat3:hover a, nav ul li.cat3:hover > ul li a {
    background-color: #008C74;
}

nav ul li.cat4:hover a, nav ul li.cat4:hover > ul li a {
    background-color: #004C66;
}

nav ul li.cat5:hover a, nav ul li.cat5:hover > ul li a {
    background-color: #332B40;
}

nav ul li:hover > a {
    color: #FAFAFA;
}

#slider{
	margin: 180px auto 30px auto;
	width: 800px;
	position: relative;
}

.banderole{
	height: 50px;
	color: white;
	transform:rotate(-30deg);;
	-moz-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	position: relative;
	left: -230px;
	padding-left: 300px;
	font-size: 16px;
}

.banderole span{
	position: relative;
	top: 15px;
}

.banderole.games{
	background-color: #8CB302;
}

.banderole.links{
	background-color: #008C74;
}

.box{
	overflow: hidden;
	height: 400px;
	width: 100%;
}

.box img{
	margin: 0 auto;
}

.box h3{
    color: white;
    position: absolute;
    bottom: 100px;
    left: 100px;
    padding: 5px;
    border: 1px solid rgb(96, 96, 96);
}

.box a{
    color: white;
    position: absolute;
    bottom: 30px;
    left: 400px;
    border: 1px solid rgb(96, 96, 96);
    text-decoration: none;
    padding: 5px;
}

.box.games h3, .box.games a{
	   background-color: rgb(140, 179, 2);
}

.box.emulator h3, .box.emulator a{
	 background-color:#008C74;
}

.box.freeware_slider h3, .box.freeware_slider a{
	 background-color:#008C74;
}

.bx-prev{
	color: black;
	content: "<";
}

.bx-wrapper .bx-controls-direction a{
	z-index: 0;
}
.monkey_island{
	background: url(../img/monkey_island_slider.jpg);
	background-repeat: no-repeat;
	background-position:50% 50%;
}

.sam_and_max{
	background: url(../img/sam_and_max.jpg);
	background-repeat: no-repeat;
	background-position:50% 50%;
} 

.box.emulator {
	background: url(../img/emulatoren.jpg);
	background-repeat: no-repeat;
	background-position:50% 50%;
}
.box.freeware_slider {
	background: url(../img/retrogames.gif);
	background-repeat: no-repeat;
	background-position:50% 50%;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 61%;
    margin-bottom: 50px;
    margin-top: 180px;
}

.content_class h1 {
    font-size: 14px;
    text-decoration: underline;
}

.content_class h2 {
    font-size: 10px;
    margin-top: 8px;
    font-weight: normal;
}

.content_class h3 {
    font-size: 22px;
}

.content_class {
    border: 1px solid rgb(71, 71, 71);
    box-shadow: 2px 2px 2px rgb(40,40,40); 
    -moz-box-shadow: 2px 2px 2px rgb(40,40,40);
    -webkit-box-shadow: 2px 2px 2px rgb(40,40,40);
    background-color: white;
    border-radius: 8px; 
    padding: 30px;
    color: rgb(72, 72, 72);
    //background-color: rgb(230, 230, 223);
    background-color: white;
    margin-bottom: 25px;
}
.clearboth {
	clear: both;
}

.artikel_link {
    position: relative;   
}

.artikel_link a {
    position: absolute;
    right: 15px;
}

.down{
	position: relative;
	border-radius: 8px;
	padding: 20px;
	background-color:white; 
	margin-bottom: 20px;
	border: 3px solid #008C74;
	box-shadow: 10px 10px 10px grey;
	position: relative;
}

.down .down-image{
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 50px;
	border: 2px solid #008C74;
	position: absolute;
	left: -20px;
	top:-20px;
	z-index: 2;
}
.down img {
	height: 100px;
	width: 150px;

}

.down .down-text{
	display: inline-block; 
	width: 65%;
}

.down .side-color{
	height: 100%;
	display: inline-block;
	width: 30%;
	background-color: #8CB302;
	position: relative;
	z-index: 2;
	left: 4%;
}

.down .sider{
	width: 30%;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1;
	background-color: #8CB302;

}

.down span{
	display: inline;
}

.down h2{
	color: #008C74
}

.down a{
	color: #008C74;
}

.down .down-screenshot{
	display: inline;
	float: right;
	margin-left:8px;
	cursor: url(../img/pointer.png), auto;
}
.down ul {
	text-align: center;
}
.down li {
	text-align: center;
	display: inline-block;
	border: 3px solid #008C74;
	border-radius: 8px;
	padding-top: 5px;



}
.down #bordleft {
	border-left: 3px solid #008C74;
}
.down a {
	text-decoration: none;
	margin-right: 20px;
}
.down a.backbutton {
	
}
.emu{
	position: relative;
	border-radius: 8px;
	padding: 20px;
	background-color:white; 
	margin-bottom: 20px;
	border: 3px solid #008C74;
	box-shadow: 10px 10px 10px grey;
	position: relative;
}

.emu .emu-image{
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 50px;
	border: 2px solid #008C74;
	position: absolute;
	left: -20px;
	top:-20px;
	z-index: 2;
}
#emu-mainimg {
	border: 3px solid #008C74;
	width: 15%;
}

.emu .emu-text{
	display: inline-block; 
	width: 65%;
}

.emu h2{
	color: #008C74
}

.emu a{
	color: #008C74;
	text-decoration: none;
}

}
.emu a.backbutton {
	
}
.emu p {
	float: left;
	width: 65%;
	margin-bottom: 20px;
	margin-right: 20px;
}
.freeware{
	position: relative;
	border-radius: 8px;
	padding: 20px;
	background-color:white; 
	margin-bottom: 20px;
	border: 3px solid #008C74;
	box-shadow: 10px 10px 10px grey;
	position: relative;
}

.freeware .freeware-image{
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 50px;
	border: 2px solid #008C74;
	position: absolute;
	left: -20px;
	top:-20px;
	z-index: 2;
}
#freeware-mainimg {
	border: 3px solid #008C74;
	width: 15%;
}

.freeware .freeware-text{
	display: inline-block; 
	width: 65%;
}

.freeware h2{
	color: #008C74
}

.freeware a{
	color: #008C74;
	text-decoration: none;
}

}
.freeware a.backbutton {
	
}
.freeware p {
	float: left;
	width: 65%;
	margin-bottom: 20px;
	margin-right: 20px;
}
.tools{
	position: relative;
	border-radius: 8px;
	padding: 20px;
	background-color:white; 
	margin-bottom: 20px;
	border: 3px solid #008C74;
	box-shadow: 10px 10px 10px grey;
	position: relative;
}

.tools .tools-image{
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 50px;
	border: 2px solid #008C74;
	position: absolute;
	left: -20px;
	top:-20px;
	z-index: 2;
}
#tools-mainimg {
	border: 3px solid #008C74;
	width: 15%;
}

.tools .freeware-text{
	display: inline-block; 
	width: 65%;
}

.tools h2{
	color: #008C74
}

.tools a{
	color: #008C74;
	text-decoration: none;
}

}
.tools a.backbutton {
	
}
.tools p {
	float: left;
	width: 65%;
	margin-bottom: 20px;
	margin-right: 20px;
}


.footer_content {
    padding: 30px;
    font-family: 'lucida grande',helvetica,verdana,arial,sans-serif;
    border-radius: 20px;
}

.withSlider{
	margin-top: -30px !important;
}

.news_pic {
    float: left;
    border: 3px solid rgb(96, 96, 96);

    margin-right: 11px;
}

.news_pic img {
    width: 150px;
    margin: 3px 3px 1px 3px;
}

.teaser{
	position: relative;
	border-radius: 8px;
	padding: 20px;
	background-color:white; 
	margin-bottom: 20px;
	border: 3px solid #8CB302;
	box-shadow: 10px 10px 10px grey;
	position: relative;
}

.teaser .teaser-image{
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 50px;
	border: 2px solid #8CB302;
	position: absolute;
	left: -20px;
	top:-20px;
	z-index: 2;
        background-color: white;
}

.teaser .teaser-text{
	display: inline-block; 
	width: 65%;
}

.teaser .side-color{
	color: white;
	height: 100%;
	display: inline-block;
	width: 90%;
	background-color: #8CB302;
	position: relative;
	z-index: 2;
	left: 4%;
}

.teaser .side-color img{
	position: absolute;
	top:5%;
	margin: 20px auto;
}

.teaser .sider{
	width: 30%;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1;
	background-color: #8CB302;

}

.teaser span{
	display: inline;
}

.teaser h2{
	color: #8CB302
}

.teaser a{
	color: #8CB302;
}

.teaser .teaser-screenshot{
	display: inline;
	float: right;
	margin-left:8px;
	cursor: url(../img/pointer.png), auto;
}
.trenner {
	height: 2px;
	width: 100%;
	margin: 15px 0;
}
.trenner.fav_trenner {
	background-color:#008C74; 
	margin-top: 15px;
}
.trenner.white_trenner {
	margin-bottom: 30px;
	background-color:white; 
}
.trenner.games_trenner {
	background-color:#8CB302;
	clear: both; 
}
.trenner.emu_trenner {
	background-color:#008C74;
	clear: both; 
}
.trenner.freeware_trenner {
	background-color:#008C74;
	clear: both; 
}
.trenner.tools_trenner {
	background-color:#008C74;
	clear: both; 
}


.top10{
	position: relative;
	border-radius: 8px;
	padding: 20px;
	background-color:white; 
	margin-bottom: 20px;
	border: 3px solid #8CB302;
	box-shadow: 10px 10px 10px grey;
	position: relative;
	height: auto;
}

.top10 h1, .top10 h2, .top10 h3{
	color: #8CB302;
	margin-bottom: 18px;
}

.top10 img, .top10 p{
	float: left;
}
.top10 p{
	width: 65%;
}
.top10 img{
	width: 220px ;
	margin-bottom: 20px;
	margin-left: 8px;
	border: 2px solid #8CB302;
}

.top10 ul{
	clear: both;
	color: #8CB302;
}

.top10 ul li{
	list-style-type: none;
	margin-bottom: 8px;
}

.fav{
	position: relative;
	border-radius: 8px;
	padding: 20px;
	background-color:white; 
	margin-bottom: 20px;
	border: 3px solid #008C74;
	box-shadow: 10px 10px 10px grey;
	position: relative;
}

.fav .fav-image{
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 50px;
	border: 2px solid #008C74;
	position: absolute;
	left: -20px;
	top:-20px;
	z-index: 2;
}
.fav img {
	width: 30%;
	float: left;

}

.fav .fav-text{
	display: inline-block; 
	width: 65%;
}

.fav .side-color{
	height: 100%;
	display: inline-block;
	width: 30%;
	background-color: #8CB302;
	position: relative;
	z-index: 2;
	left: 4%;
}

.fav .sider{
	width: 30%;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1;
	background-color: #8CB302;

}

.fav span{
	display: inline-block;
	width:50%;

}

.fav h2{
	color: #008C74
}

.fav a{
	color: #008C74;
}

.fav .fav-screenshot{
	display: inline;
	float: right;
	margin-left:8px;
	cursor: url(../img/pointer.png), auto;
}
.fav span {
	float: right;
}





.test{
	position: relative;
	border-radius: 8px;
	padding: 20px;
	background-color:white; 
	margin-bottom: 20px;
	border: 3px solid #8CB302;
	box-shadow: 10px 10px 10px grey;
	position: relative;
}

.test .test-image{
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 50px;
	border: 2px solid #8CB302;
	position: absolute;
	left: -20px;
	top:-20px;
	z-index: 2;
}

.test .test-text{
	display: inline-block; 
	width: 65%;
}

.test .side-color{
	height: 100%;
	display: inline-block;
	width: 90%;
	background-color: #8CB302;
	position: relative;
	z-index: 2;
	left: 4%;
}

.test .side-color .fakten{
	margin-top: 20px;
	color: white;
	width: 95%;
	word-wrap:break-word;
	font-size: 11px;
}

.test .side-color .fakten li{
	margin-top: 10px;
	margin-left: 15px;
}

.test .sider{
	width: 30%;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1;
	background-color: #8CB302;

}

.test .sider span {
	color: white;
}

.test span{
	display: inline;
}

.test h2{
	color: #8CB302;
}

.test a{
	color: #8CB302;
}

.test u {
	color: #8CB302;
}
.test .teaser-screenshot{
	display: inline;
	cursor: url(../img/pointer.png), auto;
	margin: 5px auto;
}

.test .charaktere{
	margin: 20px 0;
	border: 1px solid red;
	width: 65%;
}

.test .test_bewertung{
	margin-top: 30px;
	height: 100px;
}

.screenshot-panel{
	background-color: white;
}

#simplemodal-container a.modalCloseImg{
	background:url(../img/x.png) no-repeat; /* adjust url as required */
	width:30px;
	height:30px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
}

.simplemodal-overlay {
    background-color: #000;
}

.bewertung{
	height: 50px;
	background: url(../img/stern_klein.png);
}

.bewertung.einStern{
	width: 50px;
}

.bewertung.zweiSterne{
	width: 100px;
}

.bewertung.dreiSterne{
	width: 150px;
}

.bewertung.vierSterne{
	width: 200px;
}

.bewertung.fuenfSterne{
	width: 250px;
}

footer{
	height: 38px;
	background-color: rgb(72, 72, 72);
        width: 100%;
        font-size: 8px;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer ul li{
    list-style: none;
    color: #333;
    padding: 14px 14px 14px 14px;
    display: flex;
    align-self: center;
    color: rgb(145, 145, 145);
}

footer ul li a, footer ul a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-self: center;
}

footer ul li img {
    margin-right: 5px;
}

.bottomed {
	position: absolute;
	bottom: -160px;
}
.footer_text {
    display: flex;
    align-self: center;
}

.kontakt_logo {
    height: 10px;
}

#kontakt_bild img{
    float: right;
}

.selected_home {
    background-color: #E6DD00;

}

.selected_home a {
    color: white;
}

.selected_game {
    background-color: #8CB302;

}

.selected_game a {
    color: white;
}

.selected_links {
    background-color: #008C74;

}

.selected_links a {
    color: white;
}

.bc_trenner {
    width: 25px;
    height: 25px;
    border: 1px solid rgb(145, 145, 145);
    //background-color: white;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: -15px;
    top: -1px;
    position: absolute;
}

.bc_box {
    width: 30px;
    overflow: hidden;
    position: relative;
    margin: 0 20px 0 30px;
}

.text_underline {
    text-decoration: underline;
}

.breadcrumb .bc_items a {
    text-decoration: none;
    color: rgb(97, 97, 97);
}

#kontakt_bild img {
    width: 73%;
}

#kontakt_text {
    width: 160px;
    float: left
}

.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    position: relative;
    top: -35px;
}